<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Votings</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
            <AuthorizeView>
                <Authorized>
                    <NavLink class="nav-link" href="registerVoting">
                        <span class="oi oi-plus" aria-hidden="true"></span> Register a voting
                    </NavLink>
                </Authorized>
            </AuthorizeView>
            <NavLink class="nav-link" href="votingslist/All" Match="NavLinkMatch.All">
                <span class="oi oi-list" aria-hidden="true"></span> All votings
            </NavLink>
            <AuthorizeView>
                <Authorized>
                    <NavLink class="nav-link" href="votingslist/Mine" Match="NavLinkMatch.All">
                        <span class="oi oi-list" aria-hidden="true"></span> My votings
                    </NavLink>
                </Authorized>
            </AuthorizeView>
        </li>
    </ul>
</div>

@code {
    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
